/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layers

#define L1 0
#define L2 1
#define Fn 2

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /*
		  KEY POSITIONS
		  ╭────────────────────────╮  ╭────────────────────────╮
		  │ 0   1   2   3   4   5  │  │ 6   7   8   9   10  11 │
		  │ 12  13  14  15  16  17 │  │ 18  19  20  21  22  23 │
		  │ 24  25  26  27  28  29 │  │ 30  31  32  33  34  35 │
		  ╰───────────╮ 36  37  38 │  │ 39  40  41 ╭───────────╯
					  ╰────────────╯  ╰────────────╯
		*/
        // LEFT SIDE

        combos_bluetooth-0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <1 13>;
            layers = <2>;
        };

        combos_bluetooth-2 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <14 2>;
            layers = <2>;
        };

        combos_bluetooth-3 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <15 3>;
            layers = <2>;
        };

        combos_bluetooth-4 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <4 16>;
            layers = <2>;
        };

        combos_bluetooth-5 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <5 17>;
            layers = <2>;
        };

        combos_bluetooth-clear {
            bindings = <&bt BT_CLR>;
            key-positions = <2 3>;
            layers = <2>;
        };

        combos_lpar {
            bindings = <&kp LPAR>; 			// (
            key-positions = <16 28>;
            layers = <0>;
        };

        combos_rpar {
            bindings = <&kp RPAR>;			// )
            key-positions = <17 29>;
            layers = <0>;
        };

        // RIGHT SIDE

        combos_minus {
            bindings = <&kp MINUS>; 			// - and _
            key-positions = <7 19>;
            layers = <0>;
        };

        combos_equal {
            bindings = <&kp EQUAL>; 			// = and +
            key-positions = <8 20>;
            layers = <0>;
        };

        combos_lbkt {
            bindings = <&kp LBKT>; 			// [ and {
            key-positions = <19 31>;
            layers = <0>;
        };

        combos_rbkt {
            bindings = <&kp RBKT>;			// ] and }
            key-positions = <20 32>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_base {
            label = "Base";
            bindings = <
&kp ESC        &kp Q        &kp W       &kp E       &kp R            &kp T     &kp Y   &kp U      &kp I           &kp O         &kp P                    &kp EXCLAMATION
&kp BACKSPACE  &kp A        &kp S       &kp D       &kp F            &kp G     &kp H   &kp J      &kp K           &kp L         &kp SEMI                 &kp ENTER
&mo Fn         &mt LCTRL Z  &mt LALT X  &mt LCMD C  &kp V            &kp B     &kp N   &kp M      &mt RCMD COMMA  &mt RALT DOT  &mt RIGHT_CONTROL SLASH  &mo Fn
                                        &kp TAB     &mt LSHFT SPACE  &mo L2    &mo L2  &kp RSHFT  &kp GRAVE
            >;
        };

        NumSymbol_Layer {
            label = "Number Symbol";
            bindings = <
&trans  &kp N1      &kp N2    &kp N3    &kp N4    &kp N5       &kp N6         &kp N7     &kp N8     &kp N9          &kp N0        &trans
&trans  &kp DOLLAR  &kp PLUS  &kp LPAR  &kp RPAR  &kp AT       &kp PIPE       &kp MINUS  &kp EQUAL  &kp UNDERSCORE  &kp ASTERISK  &trans
&trans  &kp EXCL    &kp HASH  &kp LBRC  &kp RBRC  &kp TILDE    &kp AMPERSAND  &kp LBKT   &kp RBKT   &kp PERCENT     &kp GRAVE     &trans
                              &trans    &trans    &trans       &trans         &trans     &trans
            >;
        };

        layer_function {
            label = "Function";
            bindings = <
&trans  &kp C_PREV    &kp C_NEXT   &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP    &trans    &trans    &trans    &trans     &trans             &trans
&trans  &kp F1        &kp F2       &kp F3        &kp F4        &kp F5      &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans             &trans
&trans  &mt LCTRL F6  &mt LALT F7  &mt LCMD F8   &kp F9        &kp F10     &trans    &trans    &kp RCMD  &kp RALT   &kp RIGHT_CONTROL  &trans
                                   &trans        &trans        &trans      &trans    &trans
            >;
        };
    };
};
